# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
CMakeFiles/cmake.check_cache
CMakeFiles/CMakeDirectoryInformation.cmake
CMakeFiles/CMakeError.log
CMakeFiles/CMakeOutput.log
CMakeFiles/Makefile.cmake
CMakeFiles/Makefile2
CMakeFiles/progress.marks
CMakeFiles/TargetDirectories.txt
CMakeFiles/3.25.0/CMakeCCompiler.cmake
CMakeFiles/3.25.0/CMakeCXXCompiler.cmake
CMakeFiles/3.25.0/CMakeDetermineCompilerABI_C.bin
CMakeFiles/3.25.0/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/3.25.0/CMakeSystem.cmake
CMakeFiles/3.25.0/CompilerIdC/CMakeCCompilerId.c
CMakeFiles/3.25.0/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/server.dir/build.make
CMakeFiles/server.dir/cmake_clean.cmake
CMakeFiles/server.dir/compiler_depend.make
CMakeFiles/server.dir/compiler_depend.ts
CMakeFiles/server.dir/depend.make
CMakeFiles/server.dir/DependInfo.cmake
CMakeFiles/server.dir/flags.make
CMakeFiles/server.dir/link.txt
CMakeFiles/server.dir/progress.make
CMakeCache.txt
.gitignore
Makefile
.gitignore
cmake_install.cmake
build
bin/Client
bin/Server
Output/PacketsReceived_0.bin
Output/PacketsReceived_1.bin
Output/PacketsReceived_2.bin
Output/PacketsReceived_3.bin
Output/PacketsReceived_4.bin
Output/PacketsReceived_5.bin
Output/PacketsReceived_6.bin
Output/PacketsReceived_7.bin
Output/PacketsReceived_8.bin
Output/PacketsReceived_9.bin
